<% content_for :titulo do %>
    <%= Msip.titulo %>
<% end %>


<% content_for :menu do %>
  <%= grupo_menus do %>
    <% if !current_usuario.nil? %>
        <%= opcion_menu "Organizaciones sociales", msip.orgsociales_path %>
        <%= opcion_menu "Personas", msip.personas_path %>
        <%= opcion_menu "Generar mapa completo", '/msip_carto/generar_pais_completo/170' %>
    <% end %>
  <% end %>
  <%= grupo_menus empuja: :derecha do %>
    <%= opcion_menu "Validar departamento", msip_carto.validar_dep_osm_path %>
    <% if current_usuario %>
      <%= despliega_abajo "Administrar" do %>
        <%= opcion_menu "Clave y Tema", main_app.editar_registro_usuario_path, desplegable: true %>
        <%= opcion_menu "Copia de respaldo cifrada", msip.respaldo7z_path, desplegable: true %>
        <%= opcion_menu "Usuarios", main_app.usuarios_path, desplegable: true %>
        <%= opcion_menu "Tablas básicas", msip.tablasbasicas_path, desplegable: true %>
        <%= opcion_menu "Ayuda CA", msip.ayuda_controldeacceso_path, desplegable: true %>
        <% if can? :manage, Msip::Bitacora %>
          <%= opcion_menu "Bitácoras", msip.bitacoras_path, desplegable: true %>
        <% end %>
      <% end %>
      <%= opcion_menu "Salir #{current_usuario.nusuario}", main_app.salir_sesion_path %>
    <% else %>
      <%= opcion_menu "Acerca de", msip.acercade_path %>
      <%= opcion_menu "Iniciar Sesión", main_app.nuevo_iniciar_sesion_path %> 
    <% end %>
  <% end %>
<% end %>


<% content_for :piedepagin_ do %>
  <p><span class='derechos'>Sistema de información de 
    <a href='https://gitlab.com/pasosdeJesus/msip_carto'>código abierto</a> con 
    <a href="https://gitlab.com/pasosdeJesus/msip_carto/blob/main/LICENCIA.md">licencia ISC</a>
    <br/>
    Desarrollado por <a id='pasosdeJesus' href="http://www.pasosdeJesus.org" target="_blank">Pasos de Jesús</a>. 2023. 
  </span></p>
<% end %>


<%= render template: "layouts/msip/application" %>
