<% if @dep_nombre && @dep_nombre != "" %>
  <p>
  Resultado de validación de <%= @dep_nombre %>
  </p>
  <div id='mapadep-svg' style='text-align: center'>
    <%= @dep_svg %>
  </div>
  <hr>
  <% if @prob.count == 0 %>
    <p style="color: green">Sin problemas</p>
  <% else %>
    <ul>
      <% @prob.each do |p| %>
        <li><%= MsipCarto::OsmHelper.mini_md_html(p).html_safe %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>
<hr>
