<div class="page-header">
  <h1><%=t '.title', :default => 'Generar país completo' %></h1>
</div>

<div id="resultado">
  <div id='mapa-svg' style='text-align: center'>
    <%= @svg %>
  </div>
</div> <!-- id: resultado -->
