<div class="page-header">
  <h1><%=t '.title', :default => 'Validar un departamento en OSM' %></h1>
</div>

<%= simple_form_for MsipCarto::Validar.new, 
  :url => msip_carto.validar_dep_osm_path,
  :html => { :class => 'form-horizontal' } do |f| 
%>
  <div data-role="content" class="form-inputs">
    <div id="errores">
      <% if f.object.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-error">
            El formulario tiene 
            <%= pluralize(f.object.errors.count, "error") %>.
          </div>
          <ul>
            <% f.object.errors.full_messages.each do |msg| %>
              <li>* <%= msg %></li>
            <% end %>
          </ul>
        </div> <!-- error-explanation -->
      <% end %>
      <%= f.error_notification %>
    </div> <!-- errores -->
    <div class="container">
      <div class="row filtro-fila">
        <div class="offset-sm-3 col-sm-3">
          Departamento:
        </div>
        <div class="offset-sm-0 col-sm-3">
          <%= f.input :divipoladep,
            collection: Msip::Departamento.where(pais_id: 170).habilitados,
            label_method: :nombre,
            value_method: :deplocal_cod,
            label: false,
            include_blank: true,
            selected: (params && params[:validar] && 
                       params[:validar][:divipoladep]) ? 
          params[:validar][:divipoladep] : nil
          %>
        </div>
      </div> <!-- row -->

      <div class="row filtro-fila">
        <div class="offset-md-5 col-md-2">
          <%= f.button :submit, 'Validar', class: 'btn btn-default',
            'data-turbo' => false %>
        </div>
      </div> <!-- class: row -->

    </div>  <!-- class:container -->
  </div> <!-- class:form-inputs -->
<% end %>

<div id="resultado">
  <%= render 'msip_carto/validar/resultado' %>
</div> <!-- id: resultado -->
